# Assignment 4 Questions

## Problem Statement

Q.1 Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below

    i 1 2 3 4 5 6 7 8 9 10
    ===== == == == == == == == == == ==
    Input 10 20 30 40 50 60 70 80 90 100
    y1 25 = (10+20+30+40)/4
    y2 35 = (20+30+40+50)/4
    y3 45 = (30+40+50+60)/4
    y4 55 = (40+50+60+70)/4
    y5 65 = (50+60+70+80)/4
    y6 75 = (60+70+80+90)/4
    y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [4]:
def moving_avg(lst,k):
    n = len(lst)
    avg =[]
    for i in range(n-k):
        avg.append((lst[i]+lst[i+1]+lst[i+2])/k)
    return avg
test = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
k = 3
print('The moving average sequence is :',moving_avg(test,k))
print('The moving average sequence has :'+str(len(moving_avg(test,k)))+' values')

The moving average sequence is : [5.0, 4.666666666666667, 5.666666666666667, 6.666666666666667, 9.666666666666666, 28.666666666666668, 49.333333333333336, 72.66666666666667, 84.0, 93.33333333333333]
The moving average sequence has :10values

Q.2 How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
    
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [21]:
import pandas as pd

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
l = df['X'].tolist()
i = 0
r = []
for element in l:
    if element != 0:
        i += 1
    else:
        i = 0
    r.append(i)
Y = pd.Series(r)
df = pd.concat([df,Y],axis=1)
df.columns = ['X','Y']
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

Q.3 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [44]:
from pandas.tseries.offsets import *
import pandas as pd
import numpy as np
Days = []
#for day in pd.date_range('2015-01-01', '2015-12-31', freq=BDay()):
Days.append(pd.date_range('2015-01-01','2015-12-31',freq=BDay()).strftime('%Y-%m-%d').tolist())
BusinessDays = Days[0]
num_list = np.random.randint(0,100,len(BusinessDays))
s = pd.Series(num_list,index = BusinessDays)
s

2015-01-01     0
2015-01-02    62
2015-01-05    85
2015-01-06    13
2015-01-07    28
2015-01-08    59
2015-01-09    33
2015-01-12    91
2015-01-13    72
2015-01-14    99
2015-01-15    57
2015-01-16    48
2015-01-19    52
2015-01-20    41
2015-01-21    76
2015-01-22    29
2015-01-23    19
2015-01-26    66
2015-01-27    58
2015-01-28    95
2015-01-29    17
2015-01-30    17
2015-02-02    71
2015-02-03    60
2015-02-04    53
2015-02-05    61
2015-02-06    86
2015-02-09    17
2015-02-10    51
2015-02-11    29
              ..
2015-11-20    35
2015-11-23    77
2015-11-24    27
2015-11-25    20
2015-11-26    12
2015-11-27    50
2015-11-30    33
2015-12-01    83
2015-12-02    39
2015-12-03    85
2015-12-04    56
2015-12-07    38
2015-12-08    66
2015-12-09    82
2015-12-10    76
2015-12-11    68
2015-12-14    14
2015-12-15    96
2015-12-16    97
2015-12-17    20
2015-12-18    77
2015-12-21    86
2015-12-22    22
2015-12-23    99
2015-12-24    17
2015-12-25     5
2015-12-28    48
2015-12-29    57
2015-12-30    92
2015-12-31    85
Length: 261, dtype: int32

Q.4